.App{
    font-family: 'Oxygen', sans-serif;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 4%, 
    rgba(0,39,39,1) 22%, 
    rgba(0,50,49,1) 43%,
    rgba(0,54,53,1) 52%, 
    rgba(0,76,75,1) 62%, 
    rgba(0,91,89,1) 67%, 
    rgba(0,113,110,1) 76%, 
    rgba(0,115,112,1) 82%, 
    rgba(0,119,116,1) 88%, 
    rgba(1,138,135,1) 98%);
}   